body{
    margin: 0;
    padding: 0;
    background-image: url("../images/login/login-bg.jpg");
    background-size: cover;
}
.header{
    width: 100%;
    height: 50px;
    background-color: springgreen;
    -moz-box-shadow: 0 3px 4px #000;
    -webkit-box-shadow: 0 3px 4px #000;
    box-shadow: 0 3px 4px #000;
    text-align: center;
}
.header a{
    display: inline-block;
    height: 100%;
    line-height: 50px;
    width: 100px;
    background-color: limegreen;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-decoration: none;
    color: white;
}
.header a:hover{
    background-color: lime;
}
.login-move{
    position: absolute;
    right: 50px;
    top: 100px;
}
.login-box{
    height: 300px;
    width: 300px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
    .login-box{
        background-color:#000000;
        filter:Alpha(opacity=50);
        position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
        *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
    }
    .login-box .login-container {
        position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
    }
}
.login-header{
    background-color: springgreen;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
.tr-text{
    background-color: rgba(255,255,255,0.2);
    border: solid 1px #999999;
    width: 180px;
    color: white;
}
.login-container{
    width: 300px;
    margin-top: 30px;
}
.register-container{
    width: 640px;
    margin-top: 20px;
    color: #cccccc;
    display: none;
}
.login-button{
    display: inline-block;
    width: 70px;
    height:25px;
    background-color: springgreen;
    border: solid 1px #f5f5f5;
    cursor: pointer;
}
.login-button:hover{
    background-color: lime;
}
.face-img{
    width: 60px;
    height: 60px;
    border: solid 1px lime;
}
.face-box{
    position: absolute;
    background-color: white;
    display: none;
}
.red{
    color: red;
}
.right,.wrong{
    display: none;
}
